[submodule "vendor/themes/twilight-emacs"]
	path = vendor/themes/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "vendor/textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
